@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
}

/* Common */

.page {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #333333;
  background-color: #f2f2f2;
}

.page-body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-main {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
}

/* Header */

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

.user-menu-button {
  font-size: 16px;
  line-height: 20px;
}

/* Index */

.main-promo {
  min-height: 485px;
  background-color: #83b3d3;
  background-image: url("../img/background/index-background.jpg");
}

.advantages {
  text-align: center;
}

.advantages .section-description {
  line-height: 36px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-large {
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-list-inner {
  color: #333333;
  background-color: #ffffff;
}

.advantages-item-bright {
  background-color: #ffffff;
}

.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-large-title {
  color: #ffffff;
}

.advantages-description {
  line-height: 21px;
}

.search {
  text-align: center;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.newsletter {
  text-align: center;
}

.newsletter-primary {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../img/background/newsletter.jpg");
  background-size: cover;
}

.newsletter-primary-title {
  color: #ffffff;
}

.newsletter-form {
  text-align: center;
}

.field-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
}

.newsletter-button {
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
}

/* Catalog */

.main-header {
  padding-top: 35px;
  padding-right: 72px;
  padding-bottom: 80px;
  padding-left: 72px;
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("/img/background/filter.jpg");
  background-size: cover;
}

.page-main-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.filter-form {
  display: flex;
}

.filter-fieldset {
  width: 200px;
  margin: 0;
  padding: 0;
  margin-right: 17px;
}

.filter-fieldset-price {
  width: 287px;
  margin-left: 95px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-left: 64px;
}

.filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.control-lead {
  font-size: 18px;
  line-height: 23px;
}

.range-field {
  line-height: 23px;
}

.range-input {
  color: #ffffff;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
}

.range-title {
  opacity: 0.3;
}

.filter-buttons-submit {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: #83b3d3;
}

.filter-buttons-reset {
  align-self: center;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  font-weight: 400;
  text-transform: capitalize;
}

.catalog {
  padding: 0 72px;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
}

.catalog-title {
  margin: 0;
  width: 50%;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.select {
  font-size: 18px;
  line-height: 23px;
}

.catalog-select {
  width: 287px;
  margin-right: auto;
}

.select-option {
  color: #333333;
  text-decoration: none;
}

.view {
  margin: 0;
  padding: 0;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}

.card-link {
  color: #000000;
  text-decoration: none;
}

.card-description {
  line-height: 23px;
}

.card-buttons {
  font-size: 16px;
}

.favorites-button {
  background-color: #83b3d3;
}

.favorites-button-selected {
  background-color: #7db54f;
}

.card-rate {
  font-size: 16px;
  text-transform: uppercase;
}

.pagination-button {
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
}

.pagination-nav {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-link {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  background-color: #83b3d3;
}

.pagination-select {
  display: flex;
}

.pagination-select-title {
  line-height: 23px;
}

/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
}

.page-footer-social {
  margin: 0;
  padding: 0;
}

.page-footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
