@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background: #756257;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

h3.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search {
  line-height: 36px;
}

.newsletter {
  background-image: url("/img/background/newsletter.jpg");
  color: #FFFFFF;
}

.newsletter-button {
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
}

.filter {
  background-image: url("/img/background/filter.jpg");
}

.page-footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
